.EndPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.EndPage img {
  width: 300px;
}

.EndPage h1 {
  color: #fff;
}

.EndPage button {
  background: #F1216C;
  color: #fff;
  border: none;
  outline: none;
  font-size: 30px;
  border-radius: 6px;
  padding: 20px 60px;
  cursor: pointer;
}

.EndPage button a {
  color: #fff;
}

.EndPage button:hover {
  background: #cc1d5c;
}
