.App {
    margin: 0rem;
    background-image: url('/public/bg.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: start;
    height: calc(100vh - 4rem);
    overflow: auto;
    padding: 3rem;
}
